<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Student</title>
  <!--link rel='stylesheet' href='stylesheets/bootstrap.min.css'-->
</head>
<body>
  <h1>Add Student</h1>
 <br/><br/>
 <form method = "POST">
 Naam:<br><input type="text" name="Naam"><br>
 GeboorteDatum:<br><input type="text" name="GeboorteDatum"><br>
 Studierichting:<br><input type="text" name="Studierichting"><br>
<br>
<input type="submit" value="Submit">
<br/>
</form>

</body>
</html>