<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Students</title>
  <!--link rel='stylesheet' href='stylesheets/bootstrap.min.css'-->
</head>
<body>
  <h1>All students</h1>
 <br/><br/>
  <ul>
  <% products.forEach(function(product) {%>
    <li>
      <span><b>Naam : </b><%= product.Naam %></span><br />
      <span><b>GeboorteDatum : </b><%= product.GeboorteDatum %></span><br />
      <span><b>Studierichting : </b><%= product.Studierichting %></span><br />
      
    </li>
  <% }) %>
  </ul>
<br />

<a href='/student/add'>Add student</a>

</body>
</html>